
<section>
    <div class="container">
        <div class="row">
            <div class="card mr-9"> 
                <div class="card-header rm_bg_al_cn">
                    <h5>Edit Book</h5>
                </div>
                <form [formGroup]="bookEditForm" (ngSubmit)="creatBook()">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-sx-12">
                            <div class="example-container">
                                <label>Title</label>
                                <input placeholder="Book Title" name="title" formControlName="title"
                                    class="form-control" [(ngModel)]="bookList.title">
                            </div>
                            <div class="text-danger"
                                *ngIf="f['title'].errors  && f['title'].touched || formSubmit">
                                <p class="text-danger" *ngIf="f['title'].errors&&f['title'].errors['required']">
                                    Enter Book Title*</p>
                                    <p class="text-danger"
                                    *ngIf="f['title'].errors&&f['title'].errors['minlength']">
                                    Book Title must be at least 3 characters*</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-sx-12">
                            <div class="example-container">
                                <label>Publication Year</label>
                                <input placeholder="Book Publication Year" name="publication_year"
                                    formControlName="publication_year" class="form-control" [(ngModel)]="bookList.publication_year" oninput="this.value = this.value.replace(/^\s+/g, '').replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
                            </div>
                            <div class="text-danger"
                                *ngIf="f['publication_year'].errors  && f['publication_year'].touched || formSubmit">
                                <p class="text-danger"
                                    *ngIf="f['publication_year'].errors&&f['publication_year'].errors['required']">
                                    Enter The Book Publication Year*</p>
                                    <p class="text-danger"
                                    *ngIf="f['publication_year'].errors&&f['publication_year'].errors['minlength']">
                                    Publication Year must be at least 4 characters*</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-sx-12">
                            <div class="example-container">
                                <label>Describtion</label>
                                <textarea placeholder="Book Describtion" name="description"
                                    formControlName="description" class="form-control" cols="30" rows="10" [(ngModel)]="bookList.description" oninput="this.value = this.value.replace(/^\s+/g, '').replace(/[^a-z\s]/ig, '').replace(/\s{2,}/g, ' ');"></textarea>
                            </div>
                            <div class="text-danger"
                                *ngIf="f['description'].errors  && f['description'].touched || formSubmit">
                                <p class="text-danger"
                                    *ngIf="f['description'].errors&&f['description'].errors['required']">
                                    Enter The Book Describtion*</p>
                                    <p class="text-danger"
                                    *ngIf="f['description'].errors&&f['description'].errors['minlength']">
                                    Book Describtion must be at least 30 characters*</p>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex pdd_1">
                            <button class="btn btn-primary w-180">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>